/* --------------------------------------------------------- Slider */

/* DS = Div do Slider */
.DS{
    padding-left: 80px;
    padding-right: 80px;
    background-color: rgb(242, 242, 242);
    /* padding-bottom: 35px; */
}

/* IS = Imagem do Slider */
.IS{
    justify-content: center;
    align-items: center;
    width:100%;
    /* height: 100px; */
}

.swiper-horizontal>
.swiper-pagination-bullets 
.swiper-pagination-bullet, 
.swiper-pagination-horizontal
.swiper-pagination-bullets 
.swiper-pagination-bullet {
    background-color: #ffffff70;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    color: #ffffff70;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    color: #ffffff70;
}

/* --------------------------------------------------------- P do Body */

/* PB = P do body */
.PB{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Raleway';
    color: rgba(82, 76, 76, 0.836);
    /* text-shadow: 3px 3px #181818; */
    background-color: rgb(242,242,242);
    margin: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
    font-weight: 500;
}

.PBB{
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    display: flex;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Raleway';
    color: rgba(82, 76, 76, 0.836);
    /* text-shadow: 3px 3px #181818; */
    /* background-color: rgb(242,242,242); */
    margin: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
    height: 135px;
    font-weight: 500;
}

/* --------------------------------------------------------- Div do Body */

/* DIB,DB = Div do Body */
.DIB{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    background-color: rgb(242,242,242);
}

.IMG{   
    width:590px;
    /* height: 500px; */
    /* border: 0.5px solid rgba(0, 0, 0, 0.37); */
    min-width: 260px; 
}

.LMG{
    margin-right: 20px;
}

.LIMG{
    margin-left: 20px;
}

/* ----------------------------------------------------------- Section do Body */

/* SEB = Section do Body */
.SEB{
    border-top: 0.0625rem solid #e8e8e8;
    background-color: #ffffff;
    list-style: none;
    height: 135px;
    justify-content: center;
    display: flex;
}

/* UB = UL do Body */
.UB{
    display: flex;
    height:60px;
    padding-inline-start: 0px;
}

/* LB = LI do Body */
.LB{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 90px;
    width: 100%;  
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway';
    margin: 0px;
    color: rgba(0, 0, 0, 0.836);
}

/* ---------------------------------------------------------- Section de Comentários do Body */

/* SECB = Section do Body */
.SECB{
    justify-content: center;
    background-color: #ffffff;
    display: flex;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 35px;
}
